/*RESET DEFAUT*/
body, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding-top: 50px;
    background-color: rgb(48, 48, 48);
}

h1, h2 {
    font-family: "Press Start 2P", serif;
}

h1 {
    color: white;
}

h2 {
    color:rgb(27, 156, 200);
}

h3 {
    color: white;
    font-size: 20px;
    margin-top: 100px;
}

button {
    border: 2px solid rgb(27, 156, 200);
    border-radius: 16px;
    padding: 20px;
    margin: 8px;
}

button:hover {
    box-shadow: 0 0 10px 10px rgb(27, 156, 200);
    cursor: pointer;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

img {
    max-width: 100px;
}

.resultado {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.resultado-jogador,
.resultado-computador {
    width: 150px;
    height: 210px;
    text-align: left;
}



.div-antes-da-escolha-jogador {
    width: 100px;
    height: 150px;
    border-radius: 16px;
    border: 5px solid rgb(0, 255, 174);
    padding: 20px;
}

.div-antes-da-escolha-computador {
    width: 100px;
    height: 150px;
    border-radius: 16px;
    border: 5px solid rgb(245, 69, 137);
    padding: 20px;
}

.score {
    color: white;
    margin-bottom: 15px;
}